<p class="m-3">Count down timer app using service and subject</p>
<div class="d-inline-block timer-display-container">
    <app-count-down-timer-display></app-count-down-timer-display>
</div>
<div class="d-inline-block timer-action-container">
    <app-count-down-timer-action></app-count-down-timer-action>
</div>

<div class="d-inline-block timer-logs-container">
    <app-count-down-timer-logs></app-count-down-timer-logs>
</div>

<div class="d-inline-block timer-frequency-container">
    <app-count-down-timer-frequency></app-count-down-timer-frequency>
</div>