<p class="m-3">Count down timer app using service and subject</p>
<div style="width: 30%; vertical-align: middle;" class="d-inline-block">
    <app-count-down-timer-display></app-count-down-timer-display>
</div>
<div style="width: 70%; vertical-align: middle;" class="d-inline-block">
    <app-count-down-timer-action></app-count-down-timer-action>
</div>

<div style="width: 30%; vertical-align: middle;" class="d-inline-block">
    <app-count-down-timer-logs></app-count-down-timer-logs>
</div>

<div style="width: 70%; vertical-align: top;" class="d-inline-block">
    <app-count-down-timer-frequency></app-count-down-timer-frequency>
</div>