<div class="d-flex justify-content-center">
    <span class="d-flex flex-column align-items-center">
        <p style="font-size: 30px; font-weight: bold;">{{frequency['start']}}</p>
        <p style="font-weight: bold;">Started</p>
    </span>
    <span class="d-flex flex-column align-items-center pl-3">
        <p style="font-size: 30px; font-weight: bold;">{{frequency['pause']}}</p>
        <p style="font-weight: bold;">Paused</p>
    </span>
    <span class="d-flex flex-column align-items-center pl-3">
        <p style="font-size: 30px; font-weight: bold;">{{frequency['reset']}}</p>
        <p style="font-weight: bold;">Reset</p>
    </span>
</div>