<div style="border: 3px solid; height: 150px;" class="p-3 m-3 d-flex flex-column align-items-center">
    <div class="d-flex align-items-center">
        <label>Enter Timer Limit</label>
        <input type="text" class="d-inline-block form-control ml-2" [disabled]="startOrPauseStatus == 'pause'" style="width: 200px;" [(ngModel)]="timeLimit" (input)="sendTimeLimit()" name="timer_input" id="timer_input">
    </div>
    <div class="mt-3" style="margin-left: 93px;">
        <button class="btn-primary" (click)="startOrPauseTimer()" [disabled]="!timeLimit">{{startOrPauseStatus == 'start' ? 'Start' : 'Pause'}}</button>
        <button class="ml-2 btn-primary" (click)="resetTimer()">Reset</button>
    </div>
</div>