<div class="d-flex justify-content-center align-items-center m-3">
    <!-- <div [@textRotate]="animationState" (@textRotate.done)="captureAnimationEnd($event)" style="border: 3px solid; padding: 25px;"> -->
    <div style="border: 3px solid; padding: 15px; width: 500px;">
        <div style="border: 3px solid; padding: 15px;">
            <div style="border: 3px solid; padding: 15px;">
                <div style="border: 3px solid; padding: 15px;">
                    <div style="border: 3px solid; padding: 15px;">
                        <!-- <div style="text-align: center;" class="rotating" [@textRotate]="animationState" (@textRotate.done)="captureAnimationEnd($event)">Hello world</div> -->
                        <div style="text-align: center;" [@textRotate]="animationState" (@textRotate.done)="captureAnimationEnd($event)">Hello world</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div style="border: 3px solid; padding: 5px;" [@textRotate]="animationState" (@textRotate.done)="captureAnimationEnd($event)">Hello world</div> -->
</div>